ul#subnav
	li Contact
	li About

header
	img(src='/images/logo1.png')
	ul#mainnav
		li Dream.
		li Deliver.
		li Repeat.

p#explaination

ul#recentposts
	li 
		p.sectionheader Refactoring Roulette
		p.sectionabstract Teams often struggle to break the bonds of their traditional roles in the quest for team ownership...
	li
		p.sectionheader Coaches Role
		p.sectionabstract Now is the time for al great men to come to the aid of their country.  Now is the time for all...

p.sectionheader Upcoming Events
ul#upcomingevents
	li.event TDD Applied Cincinnati &#8226; 11/21/2011
	li.event TDD Applied Cincinnati &#8226; 11/21/2011
	li.event TDD Applied Cincinnati &#8226; 11/21/2011
